body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1em;
    margin-right: 25px;
}
footer a{
    color:wheat;
}