{% extends 'base.html' %}
{% load static %}
{% block title %} | Reports {% endblock %}

{% block content %}
<div class="container">
  <form action="profits" method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="start_date">Start Date</label>
        <input type="date" class="form-control" name="start_date" id="start_date" required>
      </div>
      <div class="form-group col-md-6">
        <label for="end_date">End Date</label>
        <input type="date" class="form-control" name="end_date" id="end_date" required>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Filter by date</button>
  </form><hr>
    <div>
        <table class="table table-hover table-responsive text-right">
            <thead class="thead-light">
              <tr>
                <th class="text-left" scope="col">Name</th>
                <th class="d-none" scope="col">Cost Price</th>
                <th class="d-none" scope="col">Selling Price</th>
                <th scope="col">Sold Quantity</th>
                <th scope="col">Cost of Goods</th>
                <th scope="col">Value of Goods</th>
                <th scope="col">Gross Profit</th>
                <th scope="col">Gross Profit Margin</th>
                <th scope="col">% of Gross Profit</th>
              </tr>
            </thead>
            <tbody class="profit-table">
              {% for order in orders %}
              <tr class="profit-row">
                <td class="text-left">{{ order.name }}</td>
                <td class="cost-price d-none">{{ order.cost_price }}</td>
                <td class="price d-none">{{ order.price }}</td>
                <td class="quantity">{{ order.saleitem__quantity_sold__sum }}</td>
                <td class="cost-of-goods"></td>
                <td class="value-of-goods"></td>
                <td class="profit"></td>
                <td class="gpm"></td>
                <td class="profit-percentage"></td>
              </tr>
              {% endfor %}
              <tr>
                <td colspan="3" class="text-left"> Value of Discounts Offered</td>
                <td class="discount">{{discounts}}</td>
              </tr>
              <tr class="bg-secondary">
                <th class="text-center">Total</th>
                <th></th>
                <th class="totalCost"></th>
                <th class="totalRevenue"></th>
                <th class="totalProfit"></th>
                <th class="margin"></th>
                <th></th>
              </tr>
              
            </tbody>
          </table>
    </div>
    <script src="{% static 'js/profitLoss.js' %}" async></script>
</div>
{% endblock content %}